@import "../node_modules/bf-solid/_lib/solid";

@font-face {
  font-family: "Caponi-Slab-Semibold";
  src: url("../fonts/Caponi/CaponiSlab-Semibold-Web.woff")  format("woff"); // IE9 Compat Modes
  src: url("../fonts/Caponi/CaponiSlab-Semibold-Web.ttf")  format("truetype"), // Safari, Android, iOS
       url("../fonts/Caponi/CaponiSlab-Semibold-Web.eot?#iefix") format("embedded-opentype"), // IE6-IE8
       url("../fonts/Caponi/CaponiSlab-Semibold-Web.eot"), // Pretty Modern Browsers
       url("../fonts/Caponi/CaponiSlab-Semibold-Web.svg#svgFontName") format("svg"); // Legacy iOS
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
}
